{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'instdashboard.css')}}">
{% endblock css %}
{% block content %}
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br>
    <div class="text-image-wrapper">
        <div class="text-section">
            <h2>Hello Instructor</h2>
            
        </div>
        <div class="image-section">
            <img src="pfp.jpg" alt="Example Image">
        </div>
    </div>

    <div class="image-grid-wrapper">
        <!-- Text Section -->
        <h2> My Courses</h2>

        <!-- Image Grid Section -->
        <div class="image-grid">
            <img class="imgcourse" src="s1.jpg" alt="Image 1">
            <img class="imgcourse" src="s2.jpg" alt="Image 2">
            <img class="imgcourse" src="s3.jpg" alt="Image 3">
            <img class="imgcourse" src="s4.jpg" alt="Image 4">
            <img class="imgcourse" src="s5.jpg" alt="Image 5">
            <img class="imgcourse" src="s6.jpg" alt="Image 6">
            
            <img class="imgcourse" id ="plus" src="plus.png" alt="Image 6">
        </div>
    </div>
    </section>
{% endblock content %}