{% extends 'login-layout.html'%}
{% block login_content %}
  <div class="signin">
    <div class="content">
      <h2>Sign In as Instructor</h2>
      <div class="form">
        <div class="inputBox">
          {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid", placeholder="") }}
            <i>Instructor Email 👤</i>
            <div class='error-message'>
              {% for error in form.email.errors%}
                <span>{{ error }}</span>
              {% endfor%}
            </div>
          {% else %}
            {{ form.email(class='form-control')}}
            <i>Instructor Email 👤</i> 
          {% endif%}
        </div>
        <div class="inputBox">
          {% if form.password.errors %}
            {{ form.password(class='form-control is-invalid')}}
            <i>Password  🔒</i>
            <div class='error-message'>
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class='form-control')}}
            <i>Password  🔒</i>
          {% endif %}
        </div>
        <div class="flash-messages">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <ul>
                {% for category, message in messages %}
                  <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>
        <div class="links">
          <a href="#">Forgot Password</a>
          <a href="{{ url_for('auth.register_student')}}">Register</a>
        </div>
        <div class="inputBox">
          {{ form.submit(class='btn')}}
        </div>
      </div>
    </div>
  </div>
{% endblock login_content%}