<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>loginstd</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='signinstd.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<section>
    {% for _ in range(count) %}
      <span class='box'></span>
    {% endfor %}
</section>
<section>
<form method='POST' action='' class='center-content'>
  {{ form.hidden_tag() }}
  {% block login_content %}{% endblock login_content%}
</form>
</section>
<!-- partial -->
  
</body>
</html>