<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mentor.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <header class="header">
        <a href="#home" class="logo">TICK MY
            <span>WAY</span>
        </a>
    
        <i class='bx bx-menu' id="menu-icon"></i>
    <nav class="navbar">
        <a href="/" class="active">HOME</a>
        <a href="/" >EDUCATION</a>
        <a href="/" >SERVICES</a>
        <a href="/">TESTIMONIALS</a>
        <a href="/" >CONTACT</a>
    </nav>
    </header>

<section class="testimonials" id="testimonials">
        <div class="testimonials-box">
            <h2 class="heading"></h2>

            <div class="wrapper">
                    <div class="testimonials-item">
                        <img src="pfp1.jpg" alt="">
                        <h2>Mentor 1</h2>
                        <div claass="rating">
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                        </div>
                        <p>Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Quia, odit eum, voluptatum
                        officia earum ipsa ipsam enim totam ut 
                        dolore magni nam adipisci natus, 
                        consequuntur labore debitis repudiandae 
                        commodi excepturi?</p>
                    </div>

                    <div class="testimonials-item">
                        <img src="pfp1.jpg" alt="">
                        <h2>Mentor 2</h2>
                        <div claass="rating">
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>   
                        </div>
                        <p>Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Quia, odit eum, voluptatum
                        officia earum ipsa ipsam enim totam ut 
                        dolore magni nam adipisci natus, 
                        consequuntur labore debitis repudiandae 
                        commodi excepturi?</p>
                    </div>

                    <div class="testimonials-item">
                        <img src="pfp1.jpg" alt="">
                        <h2>Mentor 3</h2>
                        <div claass="rating">
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                        </div>
                        <p>Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Quia, odit eum, voluptatum
                        officia earum ipsa ipsam enim totam ut 
                        dolore magni nam adipisci natus, 
                        consequuntur labore debitis repudiandae 
                        commodi excepturi?</p>
                    </div>
            </div>
        </div>
    </section>

</body>
</html>