<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage Layout</title>
    <link rel="stylesheet" href="stddashboard.css">
</head>
<body>
    <header class="header">
        <a href="#home" class="logo">TICK MY
            <span>WAY</span>
        </a>
    
        <i class='bx bx-menu' id="menu-icon"></i>
    <nav class="navbar">
        <a href="#home" class="active">HOME</a>
        <a href="#education" >EDUCATION</a>
        <a href="#services" >SERVICES</a>
        <a href="#testimonials">TESTIMONIALS</a>
        <a href="#contact" >CONTACT</a>
    </nav>
    </header>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    
    
        
        
        <div class="text-image-wrapper">
            <div class="text-section">
                <h2>Hello Student</h2>
                
            </div>
            <div class="image-section">
                <img src="pfp.jpg" alt="Example Image">
            </div>
        </div>

         
        <div class="second-section">
            <div class="small">
                <h3>Available Courses</h3>
                <p class="info">Click here to view your courses</p>
                
            </div>
            <div class="small">
                <h3>Mentor</h3>
                <p class="info">Click here to contact with experts
                     of your intrested field</p>
                
            </div>
            <div class="small">
                <h3>Roadmap</h3>
                <p class="info">Click here to find roadmaps of
                     people who acheived the same 
                     dream as yours</p>
                
            </div>
        </div>
        
    </section>
</body>
</html>
