<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage Layout</title>
    <link rel="stylesheet" href="stddashboard.css">
</head>
<body>
    <header class="header">
        <a href="#home" class="logo">TICK MY
            <span>WAY✔️</span>
        </a>
    
        <i class='bx bx-menu' id="menu-icon"></i>
    <nav class="navbar">
        <a href="#home" class="active">HOME</a>
        <a href="#education" >EDUCATION</a>
        <a href="#services" >SERVICES</a>
        <a href="#testimonials">TESTIMONIALS</a>
        <a href="#contact" >CONTACT</a>
    </nav>
    </header>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <section class="testimonials" id="testimonials">
        <div class="testimonials-box">
            

            <div class="wrapper">
                    <div class="testimonials-item">
                        <!-- <img src="{{ url_for('static', filename='2.jpg')}}" alt=""> -->
                        <h2>Courses</h2>
                        <br>
                        
                        <p>Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Quia, odit eum, voluptatum
                        officia earum ipsa ipsam enim totam ut 
                        dolore magni nam adipisci natus, 
                        consequuntur labore debitis repudiandae 
                        commodi excepturi?
                        Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Quia, odit eum, voluptatum
                        officia earum ipsa ipsam enim totam ut 
                        dolore magni nam adipisci natus, 
                        consequuntur labore debitis repudiandae 
                        commodi excepturi?</p>
                    </div>

                    <div class="testimonials-item">
                        <!-- <img src="{{ url_for('static', filename='3.jpg')}}" alt=""> -->
                        <h2>Mentors</h2>
                       
                        <p>Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Quia, odit eum, voluptatum
                        officia earum ipsa ipsam enim totam ut 
                        dolore magni nam adipisci natus, 
                        consequuntur labore debitis repudiandae 
                        commodi excepturi?</p>
                    </div>

                    <div class="testimonials-item">
                        <!-- <img src="{{ url_for('static', filename='4.jpg')}}" alt=""> -->
                        <h2>RoadMap</h2>
                        
                        <p>Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Quia, odit eum, voluptatum
                        officia earum ipsa ipsam enim totam ut 
                        dolore magni nam adipisci natus, 
                        consequuntur labore debitis repudiandae 
                        commodi excepturi?</p>
                    </div>
            </div>
        </div>
    </section>
</body>
</html>
