{% extends "base.html" %}
{% block content %}
    <section class="testimonials" id="testimonials">
        <div class="testimonials-box">
            <h2 class="heading">MENTORS</h2>

            <div class="wrapper">
                    <div class="testimonials-item">
                        <img src="{{ url_for('static', filename='mentorpfp.jpg')}}" alt="">
                        <h2>Dr. Rudra Singh </h2>
                        <div claass="rating">
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="astar"></i>
                            <i class='bx bxs-star' id="astar"></i>
                            <i class='bx bxs-star' id="astar"></i>
                            <i class='bx bxs-star' id="astar"></i>
                        </div>
                        <p>Dr. Rudra Singh is a Chief Data Scientist with over 15 years of experience in leveraging data for business success. Passionate about mentoring, she empowers others to unlock the potential of analytics through hands-on workshops.</p>
                    </div>

                    <div class="testimonials-item">
                        <img src="{{ url_for('static', filename='mentorpfp.jpg')}}" alt="">
                        <h2>Prof. Danish Zehen </h2>
                        <div claass="rating">
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>   
                        </div>
                        <p>Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Quia, odit eum, voluptatum
                        officia earum ipsa ipsam enim totam ut 
                        dolore magni nam adipisci natus, 
                        consequuntur labore debitis repudiandae 
                        commodi excepturi?</p>
                    </div>

                    <div class="testimonials-item">
                        <img src="{{ url_for('static', filename='mentorpfp.jpg')}}" alt="">
                        <h2>CA. Divya Subramanyum</h2>
                        <div claass="rating">
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="astar"></i>
                            <i class='bx bxs-star' id="astar"></i>
                        </div>
                        <p>Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Quia, odit eum, voluptatum
                        officia earum ipsa ipsam enim totam ut 
                        dolore magni nam adipisci natus, 
                        consequuntur labore debitis repudiandae 
                        commodi excepturi?</p>
                    </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='mentor.css')}}">
{% endblock css %}