*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --bg-color:#000000;
    --second-bg-color:#131313;
    --text-color: white;
    --main-color: #00ffee;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background: url('bg.jpg');
    background-position: center;
    background-size: cover;
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo{
    font-size: 5rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.logo span{
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section{
    min-height: 100vb;
    padding: 10rem 12% 10rem;
}

/* General Styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('bg.jpg');
    background-position: center;
    background-size: cover; /* Main background color */
    color: #00ffee; /* Text color */
}

/* Navbar Styling */



/* Container for Boxes */
.testimonials{
    background: url('bg.jpg');
    background-position: center;
    background-size: cover;
}

.testimonials-box{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonials .heading{
    margin-bottom: 5rem;
}

.testimonials-box img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.testimonials-item{
    min-height: 550px;
    max-width: 450px;
    background: rgba(0,0,0,0.7);
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2 rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: white;
    transition: 0.4s ease-in-out;
}

.testimonials-item:hover{
    border: 3px solid var(--main-color);
    transform:scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.testimonials-item h2{
    font-size: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--main-color);

}

.testimonials-item p{
    font-size: 1.3rem;
}

#star{
    color: gold;
    font-size: 2rem;
}

.testimonials h2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--main-color);
}